@model IEnumerable<ExactScore.Data.Entities.Fixture>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Don't forget @Model?.First().Round.Name!</h1>
    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Date.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeTeam.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AwayTeam.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Give score</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <h1 class="display-4">Standings</h1>

</div>
