@model PredictionViewModel

<div class="row">
    <div class="col-md-4">
        <form asp-action="Prediction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FixtureId" />
            <div class="form-group">
                <label class="control-label">@Model.Date.ToString("yyyy-MM-dd HH:mm")</label>
            </div>
            <div class="form-group">
                <label class="control-label">@Model.HomeTeam</label>
                <div class="form-group">
                    <select asp-for="HomeGoal" class="form-control" asp-items="ViewBag.Goals">
                        <option disabled selected value=""></option>
                    </select>
                    <span asp-validation-for="HomeGoal" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">@Model.AwayTeam</label>
                <div class="form-group">
                    <select asp-for="AwayGoal" class="form-control" asp-items="ViewBag.Goals">
                        <option disabled selected value=""></option>
                    </select>
                    <span asp-validation-for="AwayGoal" class="text-danger"></span>
                </div>
            </div>
            @*<div class="form-group">
                    <label asp-for="HomeGoal" class="control-label"></label>
                    <input asp-for="HomeGoal" class="form-control" type="number" />
                    <span asp-validation-for="HomeGoal" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
