/* roboto-regular-latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/roboto-v27-latin/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v27-latin/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../montserrat-v18-latin/montserrat-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v18-latin/montserrat-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
    font-family: Roboto;
}


/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

tr.current-user {
    font-weight: bold;
}



/* ScoreBoard */



.scoreboard {
    background: #0F0F0F;
    margin-bottom: 8px;
    border-radius: 4px;
}
.scoreboard__container {
    padding: 16px;
}
.scoreboard__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.scoreboard__row .label {
    font-size: 10px;
    text-transform: uppercase;
    color: lightgray;
    font-weight: 700;
    letter-spacing: 0.095em;
    margin-bottom: 4px;
}

.scoreboard__team {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.scoreboard__name {
    display: block;
    color: #D2D2D2;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 8px auto;
    flex-grow: 1;
    margin-left: 16px;
}

.scoreboard__result-home,
.scoreboard__result-away {
    font-size: 26px;
    font-weight: 600;
}

.scoreboard__badge {
    width: 38px;
    height: 38px;
    text-align: center;
}
.scoreboard__badge img {
    height: 100%;
}

.scoreboard__result-home, 
.scoreboard__result-away select {
    width: 60px;
}

